@using JeffMVC.Models;
@model IEnumerable<Holiday>;

@{
	ViewData["Title"] = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
	(function () {
		window.onload = function () {
			nr = document.getElementById("numrows").innerHTML;
			if (nr == 0) {
				document.getElementById("results").hidden = true;
				document.getElementById("noresults").classList = "noresultsshow";
			} 
			ls = document.getElementById("lastselected").innerHTML;
			if (ls == "1") {
				document.getElementById("item-1").checked = true;
			} else {
				document.getElementById("item-2").checked = true;
			}
		}
	}
	)();
</script>

<form action="/Holidays/Search" method="post">
	<fieldset>
		@foreach (var item in ViewBag.SortOptions)
		{
			<input id="item-@item.Id" name="selectedoption" for="selectedoption" type="radio" value="@item.Id" /> @item.optionName
		}
		
		<br /><label for="minscore">Min Score</label><br />
		<input name="minscore" id="minscore" type="number" value="@ViewBag.Minscore" />
		<button type="submit">Submit</button>
	</fieldset>
</form>
<div id="noresults" class="noresultshide">No Results</div>
<div id="results">
	<div>Minimum Score of: @ViewBag.Minscore</div>
	<div id="numrows" style="visibility:hidden;">@ViewBag.Numrows</div>

	<table class="table table-bordered holidaytable">
		<tr>
			<th>City</th>
			<th>Year</th>
			<th>Score</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.City
				</td>
				<td>
					@item.Year
				</td>
				<td>
					@item.Score
				</td>
			</tr>
		}
	</table>
</div>
<div id="lastselected">@ViewBag.LastSelectedOption</div>